---
import i18n, { t, changeLanguage } from "i18next";
import { createClient } from "@acme/cms-client";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");

export async function getStaticPaths() {
    const client = createClient();
    const posts = await client.posts.getAll(i18n.language);
    return posts.map(({ slug, title, content }) => {
        return {
            params: { slug },
            props: { title, content },
        };
    });
}
const { title, content } = Astro.props;
---

<Layout title={title}>
  <h1>{title}</h1>
  <p>{content}</p>
  <a href="/posts">{t('actions.backToName', { name: t('navigation.posts') })}</a>
</Layout>
