---
import i18n, { t, changeLanguage } from "i18next";
import { createClient } from "@acme/cms-client";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/layouts/Card.astro";
import CardList from "../../components/layouts/CardList.astro";

changeLanguage("en");

const client = createClient();
const posts = await client.posts.getAll(i18n.language);
---

<Layout title={t('posts:posts')}>
  <h1>{t('posts:latestPosts')}</h1>
  <CardList>
    {posts.map((post) => (
      <li>
        <Card
          title={post.title}
          body={post.content}
          href={`/posts/${post.slug}`}
          shortened
        />
      </li>
    ))}
  </CardList>
  <a href="/">{t('actions.backToName', { name: t('navigation.home') })}</a>
</Layout>
