---
import i18n, { changeLanguage } from "i18next";
import { createClient } from "@acme/cms-client";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/layouts/Card.astro";
import CardList from "../../components/layouts/CardList.astro";

changeLanguage("en");

const client = createClient();
const posts = await client.posts.getAll(i18n.language);
---

<Layout title="Posts">
  <h1>Latest posts</h1>
  <CardList>
    {posts.map((post) => (
      <li>
        <Card
          title={post.title}
          body={post.content}
          href={`/posts/${post.slug}`}
          shortened
        />
      </li>
    ))}
  </CardList>
  <a href="/">Back to home</a>
</Layout>
