$primary-light: #c046d3;
$primary-main: #B118C8;
$primary-dark: #7b108c;
$secondary-light: #374766;
$secondary-main: #061a40;
$secondary-dark: #04122c;

$background: #F6F6F6;
$surface: #fff;

$text-highest: #000;
$text-high: #101010;
$text-medium: #202020;
