---
import Layout from '../layouts/Layout.astro';
import Card from '../components/layouts/Card.astro';
---

<Layout title="About">
	<main>
		<h1>About ACME</h1>
		<p>Template provided by Rock n' Prog, Fabien Roy's organization for building stuff</p>
    <a href="/">Back to home</a>
	</main>
</Layout>
