---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Card from "../components/layouts/Card.astro";
import CardList from "../components/layouts/CardList.astro";

changeLanguage("en");
---

<Layout>
  <h1>{t('common:welcomeToAcmeApp')}</h1>
  <CardList>
    <li>
      <Card
        href="/posts"
        title="Posts"
        body="View list of posts"
      />
    </li>
    <li>
      <Card
        href="/about"
        title="About"
        body="About us"
      />
    </li>
  </CardList>
</Layout>
