---
import { createClient } from '@acme/cms-client';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const client = createClient();
const posts = await client.posts.getAll();
---

<Layout title="Posts">
	<main>
		<h1>Latest posts</h1>
		{posts.map((post) => (
      <Card
        title={post.title}
        body={post.content}
        href="#"
      />
    ))}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
