---
type Props = Readonly<{
	title: string;
}>;

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | ACME` : 'ACME'}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>
  @import '../styles/colors.scss';

	html {
		font-family: system-ui, sans-serif;
		background-color: $background;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
    color: $text-highest;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
